<%- include ./common/header.ejs  %>

<div class="Content-Main">
    <form action="http://localhost:4000/product/update/<%=data.id%>" method="post" class="form-userInfo" enctype="multipart/form-data">
        <h1>个人信息</h1>
        <span class="text1">请在文本框中完善您的个人信息：</span>
        <p>
        <div class="fileInputContainer">
            <span>头像:</span><img src="<%=data.pic%>" alt="">
            <input type="file" name="pic" />
        </div>
        <label>
            <span>用户名:</span>
            <input type="text"  name="name" placeholder="用户名" value="<%=data.name%>">
        </label>
        <label class="Main-sex">
            <span>年龄:</span>
            <input type="text"  name="age" placeholder="年龄" value="<%=data.age%>">
        </label>
        <label>
            <span>身份证 :</span>
            <input type="text" name="identity" placeholder="身份证号码" value="<%=data.identity%>">
        </label>
        <label>
            <span>电话:</span>
            <input type="text" name="phone" placeholder="Please input 11 number" value="<%=data.phone%>">
        </label>
        <label>
            <span>留言:</span>
            <textarea id="message" name="message" placeholder="message"><%=data.message%></textarea>
        </label>
        <label>
            <input type="submit" class="button" value="提交">
        </label>
    </form>
</div>

<%- include ./common/footer.ejs  %>